*{
    box-sizing: border-box;
}
body{
    background-color: silver;
}

#container{
    width: 800px;
    height: 500px;
    background-color: lightgray;
    margin: 20px auto;
    border-radius: 10px;
}
table{
    width: 70%;
    margin: auto;
}

#container2{
    width: 800px;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: lightgray;

}
.names{
    text-align: right;
    font-weight: bold;

}